.answers li {
    list-style-type: lower-alpha;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.answers .answer {
    border: 2px solid white;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

div, span {
    margin: 4px;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol.answers {
    padding-inline-start: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.status span {
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

.text {
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.status {
    display: flex;
    justify-content: space-between;
    width: 100%;
}